<div class="row sh-white-block sty-white-block">
    <div class="col-12">
        <p class="big-text-alt text-center bottom-spacer">
        Advisors
        </p>
    </div>

    <div class="col-12 col-md-6 col-lg-4 col-xl-3">

        <div class="row advisor-card">
            <div class="col-4 col-flexed-centered" style="height: 100px;">
            <div class="advisor-picture"></div>
            </div>
            <div class="col-8 advisor-info">
            Name <br>
            <span class='advisor-title'>Title</span>
            </div>

        </div>

    </div>

    <div class="col-12 col-md-6 col-lg-4 col-xl-3">

        <div class="row advisor-card">
            <div class="col-4 col-flexed-centered" style="height: 100px;">
                <div class="advisor-picture"></div>
            </div>
            <div class="col-8 advisor-info">
                Name <br>
                <span class='advisor-title'>Title</span>
            </div>

        </div>

    </div>

    <div class="col-12 col-md-6 col-lg-4 col-xl-3">

        <div class="row advisor-card">
            <div class="col-4 col-flexed-centered" style="height: 100px;">
                <div class="advisor-picture"></div>
            </div>
            <div class="col-8 advisor-info">
                Name <br>
                <span class='advisor-title'>Title</span>
            </div>

        </div>

    </div>

    <div class="col-12 col-md-6 col-lg-4 col-xl-3">

        <div class="row advisor-card">
            <div class="col-4 col-flexed-centered" style="height: 100px;">
                <div class="advisor-picture"></div>
            </div>
            <div class="col-8 advisor-info">
                Name <br>
                <span class='advisor-title'>Title</span>
            </div>

        </div>

    </div>

    <div class="col-12 col-md-6 col-lg-4 col-xl-3">

        <div class="row advisor-card">
            <div class="col-4 col-flexed-centered" style="height: 100px;">
                <div class="advisor-picture"></div>
            </div>
            <div class="col-8 advisor-info">
                Name <br>
                <span class='advisor-title'>Title</span>
            </div>

        </div>

    </div>

    <div class="col-12 col-md-6 col-lg-4 col-xl-3">

        <div class="row advisor-card">
            <div class="col-4 col-flexed-centered" style="height: 100px;">
                <div class="advisor-picture"></div>
            </div>
            <div class="col-8 advisor-info">
                Name <br>
                <span class='advisor-title'>Title</span>
            </div>

        </div>

        </div>

        <div class="col-12 col-md-6 col-lg-4 col-xl-3">

            <div class="row advisor-card">
                <div class="col-4 col-flexed-centered" style="height: 100px;">
                <div class="advisor-picture"></div>
                </div>
                <div class="col-8 advisor-info">
                Name <br>
                <span class='advisor-title'>Title</span>
                </div>

            </div>
        
        </div>

        <div class="col-12 col-md-6 col-lg-4 col-xl-3">

            <div class="row advisor-card">
            <div class="col-4 col-flexed-centered" style="height: 100px;">
                <div class="advisor-picture"></div>
            </div>
            <div class="col-8 advisor-info">
                Name <br>
                <span class='advisor-title'>Title</span>
            </div>

        </div>

    </div>


</div>
