<div id="footer" class="container-fluid">

    <!-- <div class="row ftr-illustration-container">
        <div class="ftr-illustration">
            <div class="ftr-left"></div>
            <div class="ftr-right"></div>
        </div>  

    </div> -->

    <div class="row ftr-information">

        <div class="col-12 col-xl-4 ftr-logo">
            <img src="./images/logo.png" alt="logo" />
            <!-- <form action="/language" method='POST'>
                <input type="hidden"  name="_csrf"  value= <%#= csrfToken %> </input>
                <button name="lang" value="en">English</button>
                <button name="lang" value="zh-TW">中文（繁體)</button>
                    <button name="lang" value="zh-CN">中文（简体）</button>
                        <button name="lang" value="ko">한국어</button>
                            <button name="lang" value="ja">日本語</button>
            </form> -->
        </div>

        <div class="col-12 col-xl-4 ftr-nav">
            <a href="/"> <%= __('links.home') %></a>
            <!-- <a href="/governance"> <%= __('links.governance') %></a> -->
            <a href="/deepdive"> <%= __('links.deep_dive') %></a>
            <a target="_blank" href="https://hackmd.io/s/rJAMAs-Bf"> <%= __('links.white_paper') %></a>
        </div>

        <div class="col-12 justify-content-center col-xl-4 ftr-social-media">
            <a href="https://www.facebook.com/jarvisai.community" class="sm-icon fb">&#xf230;</a>
            <a href="https://twitter.com/Jarvis_Platform" class="sm-icon tw">&#xf099;</a>
            <a href="#" class="sm-icon in">&#xf0e1;</a>
            <a href="https://github.com/JarvisAIplatform" class="sm-icon git">&#xf09b;</a>
            <a href="https://www.reddit.com/user/jarvis_ai" class="sm-icon rd">&#xf281;</a>
        </div>

        <div class="col-12 ftr-tos">
            <a href="https://mailchimp.com/legal/privacy/" class="href"><%= __('footer.privacy_policy') %></a>
            <span>&nbsp; | &nbsp;</span>
            <a href="https://mailchimp.com/legal/terms/" class="href"><%= __('footer.home') %></a>
        </div>

        <div class="col-12 ftr-copyright">©2018 JARVIS.AI</div>
    </div>

</div>


    
</body>
</html>
