<div id="footer" class="container-fluid">
    <div class="row">

        <div class="col-12 col-lg-4 ftr-logo">
            <img src="./images/logo.png" alt="logo" />
        </div>

        <div class="col-12 col-lg-4 ftr-nav">
            <a href="/">Home</a>
            <a href="#">Governance</a>
            <a href="#">Deep Dive</a>
            <a href="#">FAQ</a>
        </div>

        <div class="col-12 justify-content-center col-lg-4 ftr-social-media">
            <a href="#" class="sm-icon fb">&#xf230;</a>
            <a href="#" class="sm-icon tw">&#xf099;</a>
            <a href="#" class="sm-icon in">&#xf0e1;</a>
            <a href="#" class="sm-icon git">&#xf09b;</a>
            <a href="#" class="sm-icon rd">&#xf281;</a>
        </div>

        <div class="col-12 ftr-tos">
            <a href="#" class="href">Privacy Policy</a>
            <span>&nbsp; | &nbsp;</span>
            <a href="#" class="href">Terms and Conditions</a>
        </div>

        <div class="col-12 ftr-copyright">©2018 JARVIS.AI</div>

    </div>
</div>


    
</body>
</html>
