<div id="footer" class="container-fluid">
    <div class="row">

        <div class="col-12 col-xl-4 ftr-logo">
            <img src="./images/logo.png" alt="logo" />
        </div>

        <div class="col-12 col-xl-4 ftr-nav">
            <a href="/">Home</a>
            <a href="/governance">Governance</a>
            <a href="/deepdive">Deep Dive</a>
            <a href="/#">White Paper</a>
        </div>

        <div class="col-12 justify-content-center col-xl-4 ftr-social-media">
            <a href="#" class="sm-icon fb">&#xf230;</a>
            <a href="#" class="sm-icon tw">&#xf099;</a>
            <a href="#" class="sm-icon in">&#xf0e1;</a>
            <a href="#" class="sm-icon git">&#xf09b;</a>
            <a href="#" class="sm-icon rd">&#xf281;</a>
        </div>

        <div class="col-12 ftr-tos">
            <a href="https://mailchimp.com/legal/privacy/" class="href">Privacy Policy</a>
            <span>&nbsp; | &nbsp;</span>
            <a href="https://mailchimp.com/legal/terms/" class="href">Terms and Conditions</a>
        </div>

        <div class="col-12 ftr-copyright">©2018 JARVIS.AI</div>
    </div>

    <div class="row ftr-illustration-container">
        <div class="ftr-illustration">
            <div class="ftr-left"></div>
            <div class="ftr-right"></div>
        </div>  

    </div>
</div>


    
</body>
</html>
