<!DOCTYPE html>
<html>
  <head>

    <title><%= title %></title>

    <link rel='stylesheet' href='/styles/css/bootstrap.min.css' />    
    <link rel='stylesheet' href='/styles/css/main.css' />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src='/js/jarvisScripts.js'></script>

  </head>

  <body>
