<!DOCTYPE html>
<html>
  <head>

    <title><%= title %></title>

    <!-- Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link rel="shortcut icon" href="./../favicon.ico" type="image/x-icon">

    <!-- CSS -->
    <!-- <link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">  -->
    <link rel='stylesheet' href='/jarvis/styles/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/jarvis/styles/css/reset.css' />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css"/>  


    <% if (locale == 'zh-CN') { %>
      <link rel='stylesheet' href='/jarvis/styles/css/lang-zhCN.css' />
    <% } else if (locale == 'zh-TW') { %>
      <link rel='stylesheet' href='/jarvis/styles/css/lang-zhTW.css' />
    <% } else if (locale == 'ja') { %>
      <link rel='stylesheet' href='/jarvis/styles/css/lang-ja.css' />
    <% } else if (locale == 'ko') { %>
      <link rel='stylesheet' href='/jarvis/styles/css/lang-ko.css' />
    <% } else { %>
      <link rel='stylesheet' href='/jarvis/styles/css/lang-en.css' />
    <% } %>


    <link rel='stylesheet' href='/jarvis/styles/css/main.css' />

    <!-- Javascript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script type="text/javascript" src='/jarvis/js/jquery.disablescroll.js'></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.5.1/velocity.min.js"></script>
    <script type="text/javascript" src="/jarvis/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.0/p5.min.js'></script>
    <script type="text/javascript" src='/jarvis/js/jarvisScripts.js'></script>
    <script type="text/javascript" src='/jarvis/js/ajarx.js'></script>  
 
    
