<!-- Login / Register -->
<div class="modal-login-container">
    <!-- Left Side - Logo -->
    <div class="thing1">
        <div class = "logo"></div>
    </div>

    <!-- Right Side - Information -->
    <div class="thing2">
        <div class="title-container">
        <div class="signin">Sign-In</div><span>&nbsp;&nbsp;</span>
        <span class="or">OR</span><span>&nbsp;&nbsp;</span>
        <div class="signup active">Sign-Up</div>
        </div>
        
        <form id="signUpForm">
        <input type="text" placeholder="Name">
        <input type="text" placeholder="E-mail">
        <input type="text" placeholder="Password">
        <button>Sign-Up</button>
        <a href="/leave">Leave</a> <!-- copy the sign up form from the register.html - this will be for the exit button, this will just redirect them to the home page -->
            
        </form>
    </div>
</div>

<!-- Test -->
<div id="hi-mom">
    <p class="hi-mom">Hi Mom</p>
</div>
