 <nav class="navbar navbar-expand-md navbar-light bg-faded unfluid">
    <a class="navbar-brand" href="/">
        <div class="nav-logo">
            <img src="./images/logo.png" alt="">
        </div>
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/"> <%= lang.linkshome%></a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" href="/register">Register</a>
            </li>
            -->
            <li class="nav-item">
                <a class="nav-link" href="/technology"><%= lang.linkstechnology%></a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" href="/governance"><%= lang.linksgovernance%></a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link" target="_blank" href="https://hackmd.io/s/rJAMAs-Bf"><%= lang.linkswhite_paper%></a>
            </li>

            <li class="nav-item">
                <% if (true || user) { %>
                    <a class="nav-link" onclick="modalLoad('modal-login')">Login</a>
                <% } else { %>
                    <a class="nav-link" onclick="/logout">Logout</a>
                <% } %>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" href="/faq">FAQ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user">User</a>
            </li>

        -->
        </ul>
    </div>
</nav>
<!-- <p>To preview an error FLASH message type in a non-email and then submit - Too preview a message FLASH message, type in a working email! </p>
<p></p> -->

<!-- Nathan - here is the error on reload stuff...
the only one I'm passing for now will have the type/class "message" and the message is -
"This token has expired, please navigate to forgot your password and restart the process." -->
    <% if ( sessionFlash && sessionFlash.message) { %>
        <div class="<%= sessionFlash.type %>">
            <strong></strong>
            <%= sessionFlash.message %>
        </div>
        <% } %>
