<div>
    <div class="employee-container">
        <div class="employee-photo">
            <img src="./images/team/mu-chi.jpg" alt="Mu-Chi-Sung">
        </div>
        <div class="employee-info">
            <p class="employee-name"> <%= __('index.7.mu-chi') %></p>
            <p class="employee-title"><%= __('index.7.mu-chi_role') %></p>
        </div>
        <div class="employee-social">
            <a href="#" class="tw">&#xf099;</a>
            <a href="#" class="in">&#xf0e1;</a>
            <a href="#" class="git">&#xf09b;</a>
        </div>
    </div>  
</div>

<div>
    <div class="employee-container">
        <div class="employee-photo">
            <img src="./images/team/yao-lee.jpeg" alt="Yao Lee">
        </div>
        <div class="employee-info">
            <p class="employee-name"><%= __('index.7.yaolee') %></p>
            <p class="employee-title"><%= __('index.7.yaolee_role') %></p>
        </div>
        <div class="employee-social">
            <a href="https://twitter.com/yaotropy" class="tw">&#xf099;</a>
            <a href="https://www.linkedin.com/in/john-yao-ting-lee-4958601/" class="in">&#xf0e1;</a>
            <a href="#" class="git">&#xf09b;</a>
        </div>
    </div>  
</div>

<div>
    <div class="employee-container">
        <div class="employee-photo">
            <img src="./images/team/max.jpg" alt="Max-Chang">
        </div>
        <div class="employee-info">
            <p class="employee-name"> <%= __('index.7.max') %></p>
            <p class="employee-title"><%= __('index.7.max_role') %></p>
        </div>
        <div class="employee-social">
            <a href="#" class="tw">&#xf099;</a>
            <a href="#" class="in">&#xf0e1;</a>
            <a href="#" class="git">&#xf09b;</a>
        </div>
    </div>  
</div>

<div>
    <div class="employee-container">
        <div class="employee-photo">
            <img src="./images/team/kevin.jpg" alt="Kevin-Chen">
        </div>
        <div class="employee-info">
            <p class="employee-name"> <%= __('index.7.kevin') %></p>
            <p class="employee-title"><%= __('index.7.kevin_role') %></p>
        </div>
        <div class="employee-social">
            <a href="https://twitter.com/innovationary" class="tw">&#xf099;</a>
            <a href="https://www.linkedin.com/in/kevinic/" class="in">&#xf0e1;</a>
            <a href="#" class="git">&#xf09b;</a>
        </div>
    </div>  
</div>

<div>
    <div class="employee-container">
        <div class="employee-photo">
            <img src="./images/team/bart.jpg" alt="Bart-Yang">
        </div>
        <div class="employee-info">
            <p class="employee-name"><%= __('index.7.bart') %></p>
            <p class="employee-title"><%= __('index.7.bart_role') %></p>
        </div>
        <div class="employee-social">
            <a href="https://twitter.com/Jarvis_BartYang" class="tw">&#xf099;</a>
            <a href="https://www.linkedin.com/in/bartyang/" class="in">&#xf0e1;</a>
            <a href="#" class="git">&#xf09b;</a>
        </div>
    </div>  
</div>

<div>
    <div class="employee-container">
        <div class="employee-photo">
            <img src="./images/team/spencer.jpg" alt="Spencer-Chen">
        </div>
        <div class="employee-info">
            <p class="employee-name"><%= __('index.7.spencer') %></p>
            <p class="employee-title"><%= __('index.7.spencer_role') %></p>
        </div>
        <div class="employee-social">
            <a href="https://twitter.com/SpencerChen2" class="tw">&#xf099;</a>
            <a href="https://www.linkedin.com/in/spencerchen1009/" class="in">&#xf0e1;</a>
            <a href="#" class="git">&#xf09b;</a>
        </div>
    </div>  
</div>

<div>
    <div class="employee-container">
        <div class="employee-photo">
            <img src="./images/team/you-lin.jpg" alt="You-Lin-Chen">
        </div>
        <div class="employee-info">
            <p class="employee-name"><%= __('index.7.youlin') %></p>
            <p class="employee-title"><%= __('index.7.youlin_role') %></p>
        </div>
        <div class="employee-social">
            <!-- <a href="https://twitter.com/#" class="tw">&#xf099;</a> -->
            <a href="https://www.linkedin.com/in/youlin-chen/" class="in">&#xf0e1;</a>
            <a href="#" class="git">&#xf09b;</a>
        </div>
    </div>  
</div>

<div>
    <div class="employee-container">
        <div class="employee-photo">
            <img src="./images/team/chelsea.jpg" alt="Chelsea-Chen">
        </div>
        <div class="employee-info">
            <p class="employee-name"><%= __('index.7.chelsea') %></p>
            <p class="employee-title"><%= __('index.7.chelsea_role') %></p>
        </div>
        <div class="employee-social">
            <a href="#" class="tw">&#xf099;</a>
            <a href="#" class="in">&#xf0e1;</a>
            <a href="#" class="git">&#xf09b;</a>
        </div>
    </div>  
</div>

<div>
    <div class="employee-container">
        <div class="employee-photo">
            <img src="./images/team/charlene.jpg" alt="Charlene-Twu">
        </div>
        <div class="employee-info">
            <p class="employee-name"><%= __('index.7.charlene') %></p>
            <p class="employee-title"><%= __('index.7.charlene_role') %></p>
        </div>
        <div class="employee-social">
            <a href="https://twitter.com/twu_charlene" class="tw">&#xf099;</a>
            <a href="https://www.linkedin.com/in/charlene-twu-43915a3/" class="in">&#xf0e1;</a>
            <a href="#" class="git">&#xf09b;</a>
        </div>
    </div>  
</div>

<div>
    <div class="employee-container">
        <div class="employee-photo">
            <img src="./images/team/nash-wu.jpg" alt="Nash Wu">
        </div>
        <div class="employee-info">
            <p class="employee-name"><%= __('index.7.nashwu') %></p>
            <p class="employee-title"><%= __('index.7.nashwu_role') %></p>
        </div>
        <div class="employee-social">
            <a href="https://twitter.com/wu_nash" class="tw">&#xf099;</a>
            <a href="https://www.linkedin.com/in/nash-wu-23a950155/" class="in">&#xf0e1;</a>
            <a href="#" class="git">&#xf09b;</a>
        </div>
    </div>  
</div>
