#mc_embed_signup {
    clear: left;
}

.input-group {
    display: flex;
}

.input-group input {
    padding: 10px 15px;

    border-radius: 4px 0 0 4px;
    border: none;

    font-size: 12px;
    flex: 2;
}

.input-group .button {
    background: #16CAD1;
    padding: 10px 30px;
    
    font-size: 12px;
    color: white;
    
    border-radius: 0 4px 4px 0;
    border: none;
    
    @include flexed;
    flex: 1;
}
