@mixin flexed {
    display: flex;
    justify-content: center;
}

@mixin col-flexed {
    display: flex;
    flex-direction: column;
}

// Classes

.col-flexed-centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

