@mixin flexed {
    display: flex;
    justify-content: center;
}

@mixin col-flexed {
    display: flex;
    flex-direction: column;
}

// Classes

.col-flexed-centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.valign {
    display: flex;
    align-items: center;
}

.bottom-spacer {
    margin-bottom: 30px !important;
}

// Icons
.bars-grey {
    background-image: url('./../../../icons/icon-bars-grey.png');
}

.bars-money {
    background-image: url('./../../../icons/icon-bars-money.png');
}

.bars {
    background-image: url('./../../../icons/icon-bars.png');
}

.chip {
    background-image: url('./../../../icons/icon-chip.png');
}

.cube-new {
    background-image: url('./../../../icons/icon-cube-new.png');
}

.cubes-dot {
    background-image: url('./../../../icons/icon-cubes-dot.png');
}

.cubes {
    background-image: url('./../../../icons/icon-cubes.png');
}

.earf {
    background-image: url('./../../../icons/icon-earf.png');
}

.fan-shadow {
    background-image: url('./../../../icons/icon-fan-shadow.png');
}

.fan {
    background-image: url('./../../../icons/icon-fan.png');
}

.flow {
    background-image: url('./../../../icons/icon-flow.png');
}

.grow {
    background-image: url('./../../../icons/icon-grow.png');
}

.hd-locked {
    background-image: url('./../../../icons/icon-hd-locked.png');
}

.hd {
    background-image: url('./../../../icons/icon-hd.png');
}

.house-blue {
    background-image: url('./../../../icons/icon-house-blue.png');
}

.house-grey {
    background-image: url('./../../../icons/icon-house-grey.png');
}

.id {
    background-image: url('./../../../icons/icon-id.png');
}

.lappy-grey {
    background-image: url('./../../../icons/icon-lappy-grey.png');
}
.lappy {
    background-image: url('./../../../icons/icon-lappy.png');
}

.md-grey {
    background-image: url('./../../../icons/icon-md-grey.png');
}

.md {
    background-image: url('./../../../icons/icon-md.png');
}

.pc {
    background-image: url('./../../../icons/icon-pc.png');
}

.present {
    background-image: url('./../../../icons/icon-present.png');
}

.rome {
    background-image: url('./../../../icons/icon-rome.png');
}

.think {
    background-image: url('./../../../icons/icon-think.png');
}
.user-money {
    background-image: url('./../../../icons/icon-user-money.png');
}

.user {
    background-image: url('./../../../icons/icon-user.png');
}

.users {
    background-image: url('./../../../icons/icon-users.png');
}

.verify {
    background-image: url('./../../../icons/icon-verify.png');
}

.video {
    background-image: url('./../../../icons/icon-video.png');
}

.window {
    background-image: url('./../../../icons/icon-window.png');
}

.work {
    background-image: url('./../../../icons/icon-work.png');
}
