@mixin text-center {
    text-align: center;
}

@mixin flexed {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin col-flexed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
