// Fonts - Headers - DINPro
@font-face {
    font-family: "DINPro-Bold";
    src: url("../../fonts/DinPro/DINPro-Bold.ttf");
  }
  
  // Fonts - Body - Aileron
  @font-face {
    font-family: "Aileron";
    src: url("../../fonts/Aileron/Aileron-Light.otf");
  }
  
  @font-face {
    font-family: "Aileron";
    src: url("../../fonts/Aileron/Aileron-Regular.otf");
  }
  
  @font-face {
    font-family: "Aileron";
    src: url("../../fonts/Aileron/Aileron-SemiBold.otf");
  }
  
  // Fonts - Icons - FontAwesome
  @font-face {
  
  }
  