// color variables
$blue10: #F6F7FB;
$bluegreen:  #30BCC8;
$blue50: #148AAE;
$lightgray: #f3f9f9;
$gray: #8B8D91;

// type variables
$font-xxs: 14px;
$font-xs: 16px;
$font-sm: 20px;
$font-md: 24px;
$font-lg: 32px;
$font-xl: 48px;
$font-xxl: 60px;
