<% include partials/_head.html %>

<% include partials/_nav.html %>

<div class="container">

    <div class="row sh-white-block sty-white-block">
        <div class="col-12" style="margin-bottom: 20px;">

          <p class="big-text-alt text-center" style="margin-bottom: 10px;">
            <%= __('deepdive.1.dec_cog_intelligence') %>
          </p>
          <p class="body-text text-center" style="margin-bottom: 20px;">
              <%= __('deepdive.1.mine_intelligence') %>
          </p>

        </div>


        <!-- Add New Illustration Here -->
        <div class="col-12 d-block d-md-none">
            <img src="./images/deepdive-splash-mobile.png" alt="ai-uses" class='uses-illustration-box' style='max-width: 300px;'/>
        </div>

        <div class="col-12 d-none d-md-block">
            <img src="./images/deepdive-splash.png" alt="ai-uses" class='uses-illustration-box' style='max-width: 800px;'/>
        </div>

        <div class="col-12" style="margin-top: 20px;">
          <div class="row justify-content-center">

            <div class="d-flex justify-content-center col-12 col-sm-2 col-md-2" style="margin-bottom: 20px;">

              <div class="extra-info-container">
                <div class="icon-tiny data"></div>
                <p class="body-text"> <%= __('deepdive.1.data') %></p>
              </div>

            </div>

            <div class="d-flex justify-content-center col-12 col-sm-2 col-md-2" style="margin-bottom: 20px;">

                <div class="extra-info-container">
                  <div class="icon-tiny gear"></div>
                  <p class="body-text"> <%= __('deepdive.1.miners') %></p>
                </div>

            </div>

            <div class="d-flex justify-content-center col-12 col-sm-4 col-md-2" style="margin-bottom: 20px;">

                <div class="extra-info-container">
                  <div class="icon-tiny iot"></div>
                  <p class="body-text"> <%= __('deepdive.1.smart_devices') %></p>
                </div>

            </div>

          </div>
        </div>

        <div class="col-12 justify-center">
          <div class="title-deco-line"></div>
        </div>

        <div class="col-12">

            <div class="row justify-content-center">
              <div class="col-12 col-md-5 col-flexed">
                <div class="icon-big think" style="margin-bottom: 20px;"></div>
                <div class="little-title text-center" style="font-size: 16px; margin-bottom: 20px;">
                      <%= __('deepdive.1.poi') %>
                </div>
                <div class="body-text text-center" style="margin-bottom: 40px;">
                        <%= __('deepdive.1.proof_of_intelligence') %>
                </div>
              </div>
      
            <div class="col-12 col-md-5 col-flexed">
              <div class="icon-big contract" style="margin-bottom: 20px;"></div>
              <div class="little-title text-center" style="font-size: 16px; margin-bottom: 20px;">
                    <%= __('deepdive.1.data_curators') %>
              </div>
              <div class="body-text text-center" style="margin-bottom: 20px;">
                      <%= __('deepdive.1.intelligent_contract') %>
              </div>
            </div>

          </div>
  
      </div>

    </div>

</div>


<div class="container-fluid">

    <div class="row sh-grey-block sty-grey-block">
        <div class="col-12">

            <div class="row unfluid">
              <div class="col-md-6">
                <p class="big-text-alt text-center-onoff">
                        <%= __('deepdive.2.jarvis_do') %>
                </p>
              </div>
      
              <div class="col-md-6">
                <p class="body-text text-center-onoff">
                      <%= __('deepdive.2.big_hurdles') %>
                </p>
              </div>
            </div>
            
          </div>

          <div class="col-12" style="margin-bottom: 30px;">
            <div class="pl-box"></div>
            <p class="body-text text-center">
                  <%= __('deepdive.2.patter_recognition') %>
            </p>
          </div>

          <div class="col-12">

              <div class="row unfluid justify-content-center">
                <div class="col-12 col-md-5 col-flexed">
                  <div class="icon-big window" style="margin-bottom: 20px;"></div>
                  <div class="little-title text-center" style="font-size: 16px; margin-bottom: 20px;">
                        <%= __('deepdive.2.umz') %>
                  </div>
                  <div class="body-text text-center" style="margin-bottom: 40px;">
                        <%= __('deepdive.2.unified_model_zoo') %>
                  </div>
                </div>
        
              <div class="col-12 col-md-5 col-flexed">
                <div class="icon-big bars" style="margin-bottom: 20px;"></div>
                <div class="little-title text-center" style="font-size: 16px; margin-bottom: 20px;">
                      <%= __('deepdive.2.csg') %>
                </div>
                <div class="body-text text-center" style="margin-bottom: 20px;">
                    <%= __('deepdive.2.common_sense_graph') %>
                </div>
              </div>
  
            </div>
    
        </div>
    </div>

  </div>

  <div class="container">

    <div class="row sh-white-block sty-white-block">

        <div class="col-md-6 align-items-center">
            <p class="big-text-alt text-center-onoff">
                <%= __('deepdive.3.JTA') %>
            </p>
        </div>
    
        <div class="col-md-6 valign">
          <p class="body-text text-center-onoff" style="margin: 0 auto 20px;">
              <%= __('deepdive.3.stark_thor') %>
          </p>
        </div>

        <div class="col-12">
          <div class="row">

              <div class="col-12 col-md-3 d-flex justify-content-center align-items-center no-padding">
                <div class="title-box">
                  <%= __('deepdive.3.application_layer') %>
                </div>
              </div>

              <div class="col-12 d-flex justify-content-center align-items-center d-sm-none">
                <div class="architecture-box">
                  <img src="./images/application-layer-mobile.png" alt="application-layer">
                </div>
              </div>
          
              <div class="col-md-9 d-none d-sm-flex justify-content-center align-items-center">
                  <div class="architecture-box">
                      <img src="./images/application-layer.png" alt="application-layer"/>
                  </div>
              </div>

          </div>
        </div>

        <div class="col-12">
            <div class="row">
  
                <div class="col-12 col-md-3 d-flex justify-content-center align-items-center no-padding">
                  <div class="title-box">
                    <%= __('deepdive.3.language_layer') %>
                  </div>
                </div>
  
                <div class="col-12 d-flex justify-content-center align-items-center d-sm-none">
                  <div class="architecture-box">
                    <img src="./images/language-layer-mobile.png" alt="language-layer">
                  </div>
                </div>
            
                <div class="col-md-9 d-none d-sm-flex justify-content-center align-items-center">
                    <div class="architecture-box">
                        <img src="./images/language-layer.png" alt="language-layer"/>
                    </div>
                </div>
  
            </div>
          </div>

          <div class="col-12">
              <div class="row">
    
                  <div class="col-12 col-md-3 d-flex justify-content-center align-items-center no-padding">
                    <div class="title-box">
                      <%= __('deepdive.3.execution_layer') %>
                    </div>
                  </div>
    
                  <div class="col-12 d-flex justify-content-center align-items-center d-sm-none">
                    <div class="architecture-box">
                      <img src="./images/execution-layer-mobile.png" alt="execution-layer">
                    </div>
                  </div>
              
                  <div class="col-md-9 d-none d-sm-flex justify-content-center align-items-center">
                      <div class="architecture-box">
                          <img src="./images/execution-layer.png" alt="execution-layer"/>
                      </div>
                  </div>
    
              </div>
            </div>



      </div>

        <div class="col-12">
          <div class="row">

            <div class="col-12 col-md-4 col-flexed" style="margin-bottom: 20px;">
                <p class='body-text'>
                    <span style="color: #3cc5cb;"><%= __('deepdive.3.svm') %></span> 
                    <%= __('deepdive.3.stark_machine') %>
                </p>
            </div>
            <div class="col-12 col-md-4 col-flexed" style="margin-bottom: 20px;">
                <p class='body-text'>
                    <span style="color: #3cc5cb;"><%= __('deepdive.3.pce') %></span> 
                  <%= __('deepdive.3.pluggable_consensus_engine') %>
                </p>
            </div>
            <div class="col-12 col-md-4 col-flexed" style="margin-bottom: 20px;">
                <p class='body-text'>
                    <span style="color: #3cc5cb;"><%= __('deepdive.3.thpl') %></span> 
                  <%= __('deepdive.3.intuitive_development') %>
                </p>
            </div>



          </div>
        </div>

        <!-- 

        Stark Virtual Machine is the next generation blockchain VM that will power JARVIS. Due to its design, Ethereum VM does not have the scalability and computing capability to run smart applications. 
Pluggable Consensus Engine: JARVIS adopt a new "multi-consensus" design which allows different consensus mechanisms (e.g. DPos, DAG, and VRF) to be used for different types of replicated state multiple consensus engines via Start VM.
TH Programming Language provides a simple, clean, and intuitive development environment for any developer who wants to create Intelligent Contract in the JARVIS network.

        -->

    </div>
  
</div>

<% include partials/_footer.html %>
