<% include partials/_head.html %>

<% include partials/_nav.html %>

<div class="container-fluid">

  <div class="row sh-splash sty-splash">
      <div class="col-12 cont-splash">
        <p class="big-text-alt text-center">
            Deep Dive
        </p>

      </div>
      <div class="pattern-splash"></div>
  </div>

</div>


<div class="container">

  <div class="row sh-white-block sty-white-block">
    <div class="col-md-6 world-box"></div>
    <div class="col-md-6 world-box-col">
      <p class="question-text">
        WHAT IS IT?
      </p>

      <p class="big-text-alt">
        The Convergence of <br />AI and Blockchain
      </p>

      <p class="body-text">
          JARVIS the very first decentralized AI platform 
          combined with blockchain technology, to give AI power 
          back to the people for a better future.Together with 
          blockchain based technology, we can collectively 
          explore and build nextgen AI models across the 
          globe in a fully decentralized way.
      </p>

      <a href="/whitepaper.pdf" class="whitepaper-link">READ WHITEPAPER &nbsp;&nbsp;<span class="right-arrow">&#xf178;</span></a>

    </div>
  </div>
  
</div>


<div class="container-fluid">

  <div class="row sh-grey-block sty-grey-block">
      <div class="col-12" style="margin-bottom: 20px;">

        <p class="big-text-alt text-center">
          The Cost of Deep Learning
        </p>
        <p class="sub-text text-center" style="font-size: 12px;">
            Lorem ipsum dolor sit amet, consectetur 
            adipiscing elit. Curabitur nec diam id metus 
            porttitor pretium.
        </p>

      </div>

      <div class="col-12">
        <div class="row unfluid">
          <div class="col-md-6">
              <img src="./images/learning-cost.png" alt="learning-cost" class='graph-illustration-box' />
              <div class="graph-info" style="border: 1px solid #aaa;">
                MONTHLY VOTING RESULTS
              </div>
          </div>
          <div class="col-md-6">
              <img src="./images/jarvis-provides.png" alt="jarvis-provides" class='percentages-illustration-box' />
              <div class="percentage-info" style="border: 1px solid #aaa;">
                VOTING POWER STRUCTURE
              </div>
            </div>
        </div>
      </div>

  </div>

  <div class="row unfluid sh-white-block sty-white-block">
      <div class="col-md-6">
        <p class="big-text-alt text-center-onoff">
            Deep Learning: the New Alchemy
        </p>
      </div>

      <div class="col-md-6 valign">
        <p class="body-text text-center-onoff" style="margin: 0 auto;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        </p>
      </div>
  </div>

  <div class="row sh-white-block sty-white-block">

      <div class="col-12 d-block d-md-none" style="max-width: 300px; margin: 0 auto;">
          <img src="./images/undeterministic-mobile.png" alt="ai-uses" class='uses-illustration-box' />
      </div>

      <div class="col-12 d-none d-md-block">
          <img src="./images/undeterministic.png" alt="undeterministc" class='uses-illustration-box' style="max-width: 900;  margin-bottom: 20px;"/>
      </div>

      <div class="col-12">
        <div class="graph-info" style="border: 1px solid #aaa; max-width: 300px; margin-bottom: 50px;">
            NETWORK PARAMETER TUNING
        </div>
      </div>

      <div class="col-12 gradient-drop">
        <div class="deco-line"></div>
        <p class="blockquote-text text-center">
          Even with the same input data and parameters, the 
          training result is not always reproducable because 
          the deep learning framework itself is not deterministic 
          by design.
        </p>
      </div>

  </div>

  <div class="row sh-grey-block sty-grey-block">
  
    <div class="col-12">

        <div class="row unfluid">
          <div class="col-md-6">
            <p class="big-text-alt text-center">
                The Biggest Missing Puzzle in AI: Common Senses
            </p>
          </div>
  
          <div class="col-md-6">
            <p class="body-text text-center"  style="margin-bottom: 40px;">
                AI is still very limited and young. 
                Even the smartest AI can't tell the difference 
                between a sheepdog and a mop. The current AI still 
                lack of some basic understanding of our world.
            </p>
          </div>
        </div>

      <div class="col-12">
          <div class="graph-info" style="border: 1px solid #aaa; max-width: 700px; padding: 15px 20px;">
              <span style="color: #3cc5cb;">The truth is: </span> If and only if we can build an AI with common senses to 
              reason about our world, we can create strong and safe AI that will be ethical and moral.
            </div>
      </div>
        
      </div>

  </div>

  <div class="row sh-blue-block sty-blue-block">
      <div class="col-md-6">
        <div class="logo-white"></div>
      </div>
      <div class="col-md-6 world-box-col">
        <p class="big-text-alt text-center" style="color: white;">
          Solves the Biggest Hurdles in AI, 
          Once and For All
        </p>
        <p class="body-text text-center" style="color: white; margin: 0 auto;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Curabitur nec diam id metus porttitor pretium. 
            Vestibulum in viverra erat. Phasellus sed enim at ex 
            tincidunt finibus. Donec tincidunt, nisl sed
            vulputate, neque urna gravida purus.
        </p>
      </div>
    </div>

  <div class="row sh-white-block sty-white-block">
      <div class="col-12">
  
        <div class="row">
          <div class="col-md-6">
            <p class="big-text-alt text-center">
                What does JARVIS Do?
            </p>
          </div>
  
          <div class="col-md-6">
            <p class="body-text text-center"  style="margin-bottom: 40px;">
                JARVIS rebuilds the machine learning ecosystem 
                so everyone benefits from participating.
            </p>
          </div>
        </div>
  
      </div>
  
      <div class="col-12">
  
        <div class="row">
          <div class="col-12 col-md-6 col-lg-3 col-flexed">
            <div class="icon present" style="margin-bottom: 10px;"></div>
            <div class="little-title text-center" style="margin-bottom: 10px;">
              AI Model Training
            </div>
            <div class="body-text text-center" style="margin-bottom: 10px;">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
              Curabitur nec diam id metus porttitor pretium. 
              Vestibulum in viverra erat.
            </div>
          </div>
  
          <div class="col-12 col-md-6 col-lg-3 col-flexed">
            <div class="icon flow" style="margin-bottom: 10px;"></div>
            <div class="little-title text-center" style="margin-bottom: 10px;">
              AI Model Serving
            </div>
            <div class="body-text text-center" style="margin-bottom: 10px;">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
              Curabitur nec diam id metus porttitor pretium. 
              Vestibulum in viverra erat.
            </div>
          </div>
  
          <div class="col-12 col-md-6 col-lg-3 col-flexed">
            <div class="icon grow" style="margin-bottom: 10px;"></div>
            <div class="little-title text-center" style="margin-bottom: 10px;">
              Graph Inferencing
            </div>
            <div class="body-text text-center" style="margin-bottom: 10px;">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
              Curabitur nec diam id metus porttitor pretium. 
              Vestibulum in viverra erat.
            </div>
          </div>
  
          <div class="col-12 col-md-6 col-lg-3 col-flexed">
            <div class="icon think" style="margin-bottom: 10px;"></div>
            <div class="little-title text-center" style="margin-bottom: 10px;">
              Unified Knowledge Graph
            </div>
            <div class="body-text text-center" style="margin-bottom: 10px;">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
              Curabitur nec diam id metus porttitor pretium. 
              Vestibulum in viverra erat.
            </div>
          </div>
  
        </div>
  
      </div>
  
    </div>

      <div class="row sh-grey-block sty-grey-block">
          <div class="col-12">
  
            <p class="big-text-alt text-center">
              Secured By Homomorphic Encryption
            </p>
            <p class="sub-text text-center" style="font-size: 12px;">
                Lorem ipsum dolor sit amet, consectetur 
                adipiscing elit. Curabitur nec diam id metus 
                porttitor pretium.
            </p>
  
          </div>
  
          <div class="col-12">
              <p class="training-flow">
                  Training Flow without Homomorphic Encryption
              </p>
          </div>
          <div class="col-12">
            <div class="flow-illustration-box" style="max-width: 1000px">
              <img src="./images/training-flow.png" alt="training-flow" />
            </div>
          </div>

          <div class="col-12">
            <p class="prediction-flow">Prediction Flow without Homomorphic Encryption</p>
          </div>
          <div class="col-12">
            <div class="flow-illustration-box" style="max-width: 1000px">
              <img src="./images/prediction-flow.png" alt="prediction-flow" />
            </div>  
          </div>
  
      </div>

    <div class="row unfluid sh-white-block sty-white-block">

        <div class="col-md-6">
          <p class="big-text-alt text-center-onoff">
              Stark VM and THOR Programming Language
          </p>
        </div>
  
        <div class="col-md-6 valign">
          <p class="body-text text-center-onoff" style="margin: 0 auto;">
            THOR is the programming language developed 
            by JARVIS (years of R&D) to provide an easytouseprogramming 
            interface for creating smartcontract and smart AI contract 
            running on CPU, GPU, and other future AI accelerator chips. 
            For more information about THOR, you can find it here: 
            <a href="http://thorlang.org">http://thorlang.org</a>
          </p>
        </div>

        <div class="col-12">
            <div class="flow-illustration-box" style="max-width: 1000px">
              <img src="./images/thor-module.png" alt="prediction-flow" />
            </div>  
          </div>

    </div>

</div>

<% include partials/_footer.html %>
