<% include partials/_head.html %>

<% include partials/_nav.html %>

<div class="container">

    <div class="row sh-white-block sty-white-block">
        <div class="col-12" style="margin-bottom: 20px;">

          <p class="big-text-alt text-center" style="margin-bottom: 10px;">
            JARVIS: The Decentralized Cognitive Intelligence
          </p>
          <p class="body-text text-center" style="margin-bottom: 20px;">
              JARVIS is a blockchain network for Mining 
              Intelligence and running Intelligent 
              Contracts.
          </p>

        </div>


        <!-- Add New Illustration Here -->
        <div class="col-12 d-block d-md-none">
            <img src="./images/deepdive-splash-mobile.png" alt="ai-uses" class='uses-illustration-box' style='max-width: 300px;'/>
        </div>

        <div class="col-12 d-none d-md-block">
            <img src="./images/deepdive-splash.png" alt="ai-uses" class='uses-illustration-box' style='max-width: 800px;'/>
        </div>

        <div class="col-12" style="margin-top: 20px;">
          <div class="row justify-content-center">

            <div class="d-flex justify-content-center col-12 col-sm-2 col-md-2" style="margin-bottom: 20px;">

              <div class="extra-info-container">
                <div class="icon-tiny data"></div>
                <p class="body-text">Data</p>
              </div>

            </div>

            <div class="d-flex justify-content-center col-12 col-sm-2 col-md-2" style="margin-bottom: 20px;">

                <div class="extra-info-container">
                  <div class="icon-tiny gear"></div>
                  <p class="body-text">Miners</p>
                </div>

            </div>

            <div class="d-flex justify-content-center col-12 col-sm-4 col-md-2" style="margin-bottom: 20px;">

                <div class="extra-info-container">
                  <div class="icon-tiny iot"></div>
                  <p class="body-text">Smart Devices</p>
                </div>

            </div>

          </div>
        </div>

        <div class="col-12 justify-center">
          <div class="title-deco-line"></div>
        </div>

        <div class="col-12">

            <div class="row justify-content-center">
              <div class="col-12 col-md-5 col-flexed">
                <div class="icon-big think" style="margin-bottom: 20px;"></div>
                <div class="little-title text-center" style="font-size: 16px; margin-bottom: 20px;">
                  Proof of Intelligence
                </div>
                <div class="body-text text-center" style="margin-bottom: 40px;">
                    Instead of wasting valuable computing power on 
                    consensus through Proof-of-Work (PoW), computation 
                    providers are solving valuable AI jobs through what 
                    we call Proof-of-Intelligence (POI).
                </div>
              </div>
      
            <div class="col-12 col-md-5 col-flexed">
              <div class="icon-big contract" style="margin-bottom: 20px;"></div>
              <div class="little-title text-center" style="font-size: 16px; margin-bottom: 20px;">
                Data Curators
              </div>
              <div class="body-text text-center" style="margin-bottom: 20px;">
                  Intelligent Contract -  JARVIS creates Intelligence 
                  Contract, which addresses the limitation of EVM Smart 
                  Contract and enables the development of truly smart 
                  applications.
              </div>
            </div>

          </div>
  
      </div>

    </div>

</div>


<div class="container-fluid">

    <div class="row sh-grey-block sty-grey-block">
        <div class="col-12">

            <div class="row unfluid" style="margin-bottom: 40px;">
              <div class="col-md-6">
                <p class="big-text-alt text-center-onoff">
                    What does JARVIS do?
                </p>
              </div>
      
              <div class="col-md-6">
                <p class="body-text text-center-onoff"  style="margin-bottom: 40px;">
                    Tackle the Biggest Hurdles in AI to achieve 
                    Artificial General Intelligence (AGI).
                </p>
              </div>
            </div>
            
          </div>

          <div class="col-12">

              <div class="row unfluid justify-content-center">
                <div class="col-12 col-md-5 col-flexed">
                  <div class="icon-big window" style="margin-bottom: 20px;"></div>
                  <div class="little-title text-center" style="font-size: 16px; margin-bottom: 20px;">
                      Unified Model Zoo
                  </div>
                  <div class="body-text text-center" style="margin-bottom: 40px;">
                      The most comprehensive collection of neural network 
                      models for any pattern recognition task.
                  </div>
                </div>
        
              <div class="col-12 col-md-5 col-flexed">
                <div class="icon-big bars" style="margin-bottom: 20px;"></div>
                <div class="little-title text-center" style="font-size: 16px; margin-bottom: 20px;">
                    Common Sense Graph
                </div>
                <div class="body-text text-center" style="margin-bottom: 20px;">
                    Encapsulates basic human knowledge represented as a 
                    combination of linguistic corpus and fuzzy logic rules.
                </div>
              </div>
  
            </div>
    
        </div>

        <div class="col-12">
            <div class="puzzle-info">
                <span style="color: #3cc5cb;">Notable Attributes Include:</span>
                <div style="padding-left: 15px; padding-top: 6px;">
                  • Ability to interact with services and data from outside of blockchain <br />
                  • Support floating number <br />
                  • Support deductive & inductive inference
                </div>
              </div>
        </div>

    </div>

  </div>

  <div class="container">

    <div class="row sh-white-block sty-white-block">

        <div class="col-md-6 align-items-center">
            <p class="big-text-alt text-center-onoff">
                JARVIS Technology Architecture
            </p>
        </div>
    
        <div class="col-md-6 valign">
          <p class="body-text text-center-onoff" style="margin: 0 auto 20px;">
              Stark Virtual Machine and THOR Programming 
              Language, Pluggable Consensus Engine
          </p>
        </div>

        <div class="col-12">
          <div class="row">

              <div class="col-12 col-md-3 d-flex justify-content-center align-items-center no-padding">
                <div class="title-box">
                  Application Layer
                </div>
              </div>

              <div class="col-12 d-flex justify-content-center align-items-center d-sm-none">
                <div class="architecture-box">
                  <img src="./images/application-layer-mobile.png" alt="application-layer">
                </div>
              </div>
          
              <div class="col-md-9 d-none d-sm-flex justify-content-center align-items-center">
                  <div class="architecture-box">
                      <img src="./images/application-layer.png" alt="application-layer"/>
                  </div>
              </div>

          </div>
        </div>

        <div class="col-12">
            <div class="row">
  
                <div class="col-12 col-md-3 d-flex justify-content-center align-items-center no-padding">
                  <div class="title-box">
                    Language Layer
                  </div>
                </div>
  
                <div class="col-12 d-flex justify-content-center align-items-center d-sm-none">
                  <div class="architecture-box">
                    <img src="./images/language-layer-mobile.png" alt="language-layer">
                  </div>
                </div>
            
                <div class="col-md-9 d-none d-sm-flex justify-content-center align-items-center">
                    <div class="architecture-box">
                        <img src="./images/language-layer.png" alt="language-layer"/>
                    </div>
                </div>
  
            </div>
          </div>

          <div class="col-12">
              <div class="row">
    
                  <div class="col-12 col-md-3 d-flex justify-content-center align-items-center no-padding">
                    <div class="title-box">
                      Execution Layer
                    </div>
                  </div>
    
                  <div class="col-12 d-flex justify-content-center align-items-center d-sm-none">
                    <div class="architecture-box">
                      <img src="./images/execution-layer-mobile.png" alt="execution-layer">
                    </div>
                  </div>
              
                  <div class="col-md-9 d-none d-sm-flex justify-content-center align-items-center">
                      <div class="architecture-box">
                          <img src="./images/execution-layer.png" alt="execution-layer"/>
                      </div>
                  </div>
    
              </div>
            </div>



      </div>

        <div class="col-12">
          <div class="row">

            <div class="col-12 col-md-4 col-flexed" style="margin-bottom: 20px;">
                <p class='body-text'>
                    <span style="color: #3cc5cb;">Stark Virtual Machine</span> is the next generation blockchain 
                    VM that will power JARVIS. Due to its design, Ethereum 
                    VM does not have the scalability and computing capability 
                    to run smart applications. 
                </p>
            </div>
            <div class="col-12 col-md-4 col-flexed" style="margin-bottom: 20px;">
                <p class='body-text'>
                    <span style="color: #3cc5cb;">Pluggable Consensus Engine:</span> JARVIS adopt a new 
                  "multi-consensus" design which allows different consensus 
                  mechanisms (e.g. DPos, DAG, and VRF) to be used for different 
                  types of replicated state multiple consensus engines via 
                  Start VM.
                </p>
            </div>
            <div class="col-12 col-md-4 col-flexed" style="margin-bottom: 20px;">
                <p class='body-text'>
                    <span style="color: #3cc5cb;">TH Programming Language</span> provides a simple, clean, and 
                  intuitive development environment for any developer who 
                  wants to create Intelligent Contract in the JARVIS network.
                </p>
            </div>



          </div>
        </div>

        <!-- 

        Stark Virtual Machine is the next generation blockchain VM that will power JARVIS. Due to its design, Ethereum VM does not have the scalability and computing capability to run smart applications. 
Pluggable Consensus Engine: JARVIS adopt a new "multi-consensus" design which allows different consensus mechanisms (e.g. DPos, DAG, and VRF) to be used for different types of replicated state multiple consensus engines via Start VM.
TH Programming Language provides a simple, clean, and intuitive development environment for any developer who wants to create Intelligent Contract in the JARVIS network.

        -->

    </div>
  
</div>

<% include partials/_footer.html %>
