<form action="/emailresetpassword" , method="POST" id="emailResetForm">
    <input type="hidden" , name="_csrf" , value= <%=csrfToken %>> </input>

    <h4> Email </h4>
    <input type="email" , name="email">
    <br>


</form>
<button id="emailResetButton" type="submit"> Submit </button>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
<script>
    $(document).ready(function () {
        $("#emailResetButton").on('click', function () {
            body = ($("#emailResetForm").serialize());
            console.log(body)
            $.ajax({
                method: 'POST',
                url: `/emailresetpassword`,
                data: body
                
            })
            .done(function (data) {
                console.log(data)
                if (typeof data.redirect === 'string' || data.redirect instanceof String) {
                    alert(JSON.stringify(data.message));
                    location.href = location.protocol + '//' + data.redirect
                    //location.reload
                } else {
                    alert(JSON.stringify(data));
                };
            });
        })
    })

</script>