<form action="/emailresetpassword" , method="POST" id="emailResetForm">
    <input type="hidden" , name="_csrf" , value= <%=csrfToken %>> </input>

    <h4> Email </h4>
    <input type="email" , name="email">
    <br>


</form>
<button id="emailResetButton" type="submit"> Submit </button>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
<script>
    $(document).ready(function () {
        //     body = {}
        $("#emailResetButton").on('click', function () {
            body = ($("#emailResetForm").serialize());
            console.log(body)
            $.ajax({
                method: 'POST',
                url: `/emailresetpassword`,
                data: body,
                //               contentType: "application/json",
                dataType: "json"
            }).done(function (data) {
                alert(data)
                //   location.reload();
            });
        })
    })

</script>