<form action="/emailresetpassword" , method="POST" id="emailResetForm">
    <input type="hidden" , name="_csrf" , value= <%=csrfToken %>> </input>

    <h4> Email </h4>
    <input type="email" , name="email">
    <br>


</form>
<button id="emailResetButton" type="submit"> Submit </button>

<script>
    $(document).on('click', '#emailResetButton', function (ev) {
        ev.preventDefault();
            body = ($("#emailResetForm").serialize());
            console.log(body)
            $.ajax({
                method: 'POST',
                url: `/emailresetpassword`,
                data: body
                
            })
            .done(function (data) {
                console.log(data)
                if (typeof data.redirect === 'string' || data.redirect instanceof String) {
                    alert(JSON.stringify(data.message));
                    location.href = location.protocol + '//' + data.redirect
                    //location.reload
                } else {
                    alert(JSON.stringify(data));
                };
            });
        })

</script>