<% include partials/_head.html %>

<% include partials/_nav.html %>

<!-- <div class="container-fluid">
    <div class="row sh-splash sty-splash">
        <div class="col-12 cont-splash">
          <p class="big-header-text text-center">
              Governance
          </p>
    
        </div>
        <div class="pattern-splash"></div>
    </div>
</div> -->


<div class="container">

    <div class="row unfluid align-items-center sh-white-block sty-white-block">

      <div class="col-md-6 world-box-col">
        <p class="big-text-alt" style="margin-bottom: 14px;">
            We Are Stronger Together
        </p>
        <p class="sub-text" style="font-size: 20px;">
            Greater Power Comes with Greater Responsibility
        </p>
        <p class="body-text" style="color: #6b6b6b;">
            JARVIS the very first decentralized AI platform 
            combined with blockchain technology, to give AI power 
            back to the people for a better future.Together with 
            blockchain based technology, we can collectively 
            explore and build nextgen AI models across the 
            globe in a fully decentralized way.
        </p>
  
      </div>

      <div class="col-md-6 line-people-box"></div>
      
    </div>

</div>

<div class="container-fluid">
    
    <div class="row sh-grey-block sty-grey-block">
  
      <div class="col-12">

          <div class="row unfluid">
            <div class="col-md-6">
              <p class="big-text-alt text-center-onoff">
                  JARVIS: The Platform for Intelligence
              </p>
            </div>
    
            <div class="col-md-6">
              <p class="body-text text-center-onoff"  style="margin-bottom: 40px;">
                  Lorem ipsum dolor sit amet, consectetur 
                  adipiscing elit. Curabitur nec diam id metus 
                  porttitor pretium. Vestibulum in viverra erat.
              </p>
            </div>
          </div>
          
        </div>

        <div class="col-12 d-block d-md-none">
            <img src="./images/ai-uses-mobile.png" alt="ai-uses" class='uses-illustration-box' />
        </div>

        <div class="col-12 d-none d-md-block">
            <img src="./images/ai-uses.png" alt="ai-uses" class='uses-illustration-box' />
        </div>
  
    </div>


    <div class="row sh-white-block sty-white-block">
        <div class="col-12" style="margin-bottom: 20px;">

          <p class="big-text-alt text-center" style="margin-bottom: 10px;">
            Decision Making
          </p>
          <p class="body-text text-center" style="margin-bottom: 20px;">
              Lorem ipsum dolor sit amet, consectetur 
              adipiscing elit. Curabitur nec diam id metus 
              porttitor pretium.
          </p>

        </div>

        <div class="col-12">
          <div class="row unfluid">
            <div class="col-md-6">
                <img src="./images/graph.png" alt="ai-uses" class='graph-illustration-box' />
                <div class="graph-info">
                  MONTHLY VOTING RESULTS
                </div>
            </div>
            <div class="col-md-6">
                <img src="./images/percentages.png" alt="ai-uses" class='percentages-illustration-box' />
                <div class="percentage-info">
                  VOTING POWER STRUCTURE
                </div>
              </div>
          </div>
        </div>

    </div>


    <div class="row sh-grey-block sty-grey-block">
      <div class="col-12">
        <div class="row unfluid">
          <div class="col-md-6 world-box-col">

            <p class="big-text-alt" style="margin-bottom: 14px;">
              Resource Allocation
            </p>
            <p class="body-text" style="font-size: 16px; margin-bottom: 14px;">
              We will use the spare computing resource to generate 
              the desired 
            </p>
            <p class="body-text">
                JARVIS the very first decentralized AI platform 
                combined with blockchain technology, to give AI power 
                back to the people for a better future.Together with 
                blockchain based technology, we can collectively 
                explore and build nextgen AI models across the 
                globe in a fully decentralized way.
            </p>
      
          </div>

          <div class="col-md-6 resource-illustration-box"></div> 
        </div>
      </div>

    </div>

  <%include partials/_advisors.html %>



</div>

<% include partials/_footer.html %>
