<% include partials/_head.html %>

<% include partials/_nav.html %>

<!-- <div class="container-fluid">
    <div class="row sh-splash sty-splash">
        <div class="col-12 cont-splash">
          <p class="big-header-text text-center">
              Governance
          </p>
    
        </div>
        <div class="pattern-splash"></div>
    </div>
</div> -->

<div hidden>
    <% include partials/_modalLoader.html %>
</div>


<div class="container">

    <div class="row unfluid align-items-center sh-white-block sty-white-block">

      <div class="col-md-6 world-box-col">
        <p class="big-text-alt" style="margin-bottom: 14px;">
            <%= __('governance.1.strong_together') %>
        </p>
        <p class="sub-text" style="font-size: 20px;">
            <%= __('governance.1.great_power') %>
        </p>
        <p class="body-text" style="color: #6b6b6b;">
            <%= __('governance.1.decentralization') %>
        </p>
  
      </div>

      <div class="col-md-6 line-people-box"></div>
      
    </div>

</div>

<div class="container-fluid">
    
    <div class="row sh-grey-block sty-grey-block">
  
      <div class="col-12">

          <div class="row unfluid">
            <div class="col-md-6">
              <p class="big-text-alt text-center-onoff">
                  <%= __('governance.2.platform_intel') %>
              </p>
            </div>
    
            <div class="col-md-6">
              <p class="body-text text-center-onoff"  style="margin-bottom: 40px;">
                  <%= __('governance.2.intel_blurb') %>
              </p>
            </div>
          </div>
          
        </div>

        <div class="col-12 d-block d-md-none">
            <img src="./images/ai-uses-mobile.png" alt="ai-uses" class='uses-illustration-box' />
        </div>

        <div class="col-12 d-none d-md-block">
            <img src="./images/ai-uses.png" alt="ai-uses" class='uses-illustration-box' />
        </div>
  
    </div>


    <div class="row sh-white-block sty-white-block">
        <div class="col-12" style="margin-bottom: 20px;">

          <p class="big-text-alt text-center" style="margin-bottom: 10px;">
            <%= __('governance.3.decision_making') %>
          </p>
          <p class="body-text text-center" style="margin-bottom: 20px;">
              <%= __('governance.3.dm_blurb') %>
          </p>

        </div>

        <div class="col-12">
          <div class="row unfluid">
            <div class="col-md-6">
                <img src="./images/graph.png" alt="ai-uses" class='graph-illustration-box' />
                <div class="graph-info">
                  <%= __('governance.3.voting_results') %>
                </div>
            </div>
            <div class="col-md-6">
                <img src="./images/percentages.png" alt="ai-uses" class='percentages-illustration-box' />
                <div class="percentage-info">
                  <%= __('governance.3.voting_power') %>
                </div>
              </div>
          </div>
        </div>

    </div>


    <div class="row sh-grey-block sty-grey-block">
      <div class="col-12">
        <div class="row unfluid">
          <div class="col-md-6 world-box-col">

            <p class="big-text-alt" style="margin-bottom: 14px;">
              <%= __('governance.4.resource_allocation') %>
            </p>
            <p class="body-text" style="font-size: 16px; margin-bottom: 14px;">

              <%= __('governance.4.spare_computing_resources') %>
            </p>
            <p class="body-text">
                <%= __('governance.4.first_decentralized_ai') %>
            </p>
      
          </div>

          <div class="col-md-6 resource-illustration-box"></div> 
        </div>
      </div>

    </div>

  <%include partials/_advisors.html %>



</div>

<% include partials/_footer.html %>
