<% include partials/_head.html %>
<meta name="keywords" content="Artificial Intelligence,Machine learning,Blockchain,Decentralized,Crypto Currency,Pattern Recognition,AI as a Service,Neural Network,Video Analytics,Intelligence of Things" />
<meta name="title" content="JARVIS: The Technology" />
<!-- <meta name="description" content="JARVIS is the first decentralized AI platform backed by blockchain technology. With JARVIS, we collectively explore and build decentralized cognitive intelligence and define boundaries and rules for artificial intelligence to make it ethical, moral and beneficial for the mankind" /> -->

<meta property="og:title" content="JARVIS: The Technology" />
<meta property="og:url" content="https://www.jarvis.ai/technology" />
<meta property='og:site_name' content='JARVIS' />
<meta property="og:image" content="https://www.jarvis.ai/images/logo.png" />
<!-- <meta property="og:description" content="JARVIS is the first decentralized AI platform backed by blockchain technology. With JARVIS, we collectively explore and build decentralized cognitive intelligence and define boundaries and rules for artificial intelligence to make it ethical, moral and beneficial for the mankind" /> -->
<meta property="og:image:type" content="image/jpg" />
<!-- <meta property="og:image:width" content="300" /> -->
<!-- <meta property="og:image:height" content="300" /> -->
<!-- <meta property="og:locale" content="zh_tw" /> -->

</head>
<body>

<% include partials/_modal.html %>
<% include partials/_nav.html %>

<!-- <div class="container-fluid">
    <div class="row sh-splash sty-splash">
        <div class="col-12 cont-splash">
          <p class="big-header-text text-center">
              Governance
          </p>
    
        </div>
        <div class="pattern-splash"></div>
    </div>
</div> -->


<div class="container">

    <div class="row unfluid align-items-center sh-white-block sty-white-block">

      <div class="col-md-6 world-box-col">
        <p class="big-text-alt" style="margin-bottom: 14px;">
            <%= lang.governance1strong_together %>
        </p>
        <p class="sub-text" style="font-size: 20px;">
            <%= lang.governance1great_power %>
        </p>
        <p class="body-text" style="color: #6b6b6b;">
            <%= lang.governance1decentralization %>
        </p>
  
      </div>

      <div class="col-md-6 line-people-box"></div>
      
    </div>

</div>

<div class="container-fluid">
    
    <div class="row sh-grey-block sty-grey-block">
  
      <div class="col-12">

          <div class="row unfluid">
            <div class="col-md-6">
              <p class="big-text-alt text-center-onoff">
                  <%= lang.governance2platform_intel %>
              </p>
            </div>
    
            <div class="col-md-6">
              <p class="body-text text-center-onoff"  style="margin-bottom: 40px;">
                  <%= lang.governance2intel_blurb %>
              </p>
            </div>
          </div>
          
        </div>

        <div class="col-12 d-block d-md-none">
            <img src="./images/ai-uses-mobile.png" alt="ai-uses" class='uses-illustration-box' />
        </div>

        <div class="col-12 d-none d-md-block">
            <img src="./images/ai-uses.png" alt="ai-uses" class='uses-illustration-box' />
        </div>
  
    </div>


    <div class="row sh-white-block sty-white-block">
        <div class="col-12" style="margin-bottom: 20px;">

          <p class="big-text-alt text-center" style="margin-bottom: 10px;">
            <%= lang.governance3decision_making %>
          </p>
          <p class="body-text text-center" style="margin-bottom: 20px;">
              <%= lang.governance3dm_blurb %>
          </p>

        </div>

        <div class="col-12">
          <div class="row unfluid">
            <div class="col-md-6">
                <img src="./images/graph.png" alt="ai-uses" class='graph-illustration-box' />
                <div class="graph-info">
                  <%= lang.governance3voting_results %>
                </div>
            </div>
            <div class="col-md-6">
                <img src="./images/percentages.png" alt="ai-uses" class='percentages-illustration-box' />
                <div class="percentage-info">
                  <%= lang.governance3voting_power %>
                </div>
              </div>
          </div>
        </div>

    </div>


    <div class="row sh-grey-block sty-grey-block">
      <div class="col-12">
        <div class="row unfluid">
          <div class="col-md-6 world-box-col">

            <p class="big-text-alt" style="margin-bottom: 14px;">
              <%= lang.governance4resource_allocation %>
            </p>
            <p class="body-text" style="font-size: 16px; margin-bottom: 14px;">

              <%= lang.governance4spare_computing_resources %>
            </p>
            <p class="body-text">
                <%= lang.governance4first_decentralized_ai %>
            </p>
      
          </div>

          <div class="col-md-6 resource-illustration-box"></div> 
        </div>
      </div>

    </div>

  <%include partials/_advisors.html %>



</div>

<% include partials/_footer.html %>
