<% include partials/_head.html %>

<% include partials/_nav.html %>

<div class="container-fluid">

  <div class="row sh-splash sty-splash">
    <div class="col-12 cont-splash">
      <p class="big-text text-center">
          JARVIS.AI
      </p>

      <p class="sub-text text-center">
          The Decentralized AI Platform
      </p>

      <p class="body-text text-center">
          Join our mailing list to stay in the loop on community 
          updates and to receive additional information about our 
          upcoming token generation event and alpha/beta releases.
      </p>

      <div class="email-signup">
          <form action="POST">
              <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                  <input id="email" type="text" class="form-control" name="email" placeholder="E-mail Address">
                </div>
          </form>
      </div>

      
    </div>
    <div class="pattern-splash"></div>
  </div>

</div>

<div class="container">

  <div class="row sh-white-block sty-white-block">
    <div class="col-md-6 world-box"></div>
    <div class="col-md-6 world-box-col">
      <p class="question-text">
        WHAT IS IT?
      </p>
      <p class="sub-text">
        The Convergence of AI and Blockchain
      </p>
      <p class="body-text">
          JARVIS the very first decentralized AI platform 
          combined with blockchain technology, to give AI power 
          back to the people for a better future.Together with 
          blockchain based technology, we can collectively 
          explore and build nextgen AI models across the 
          globe in a fully decentralized way.
      </p>

    </div>
  </div>

</div>

<div class="container-fluid">

  <div class="row sh-grey-block sty-grey-block">

      <div class="col-12 world-box-col">

        <div class="row">

          <div class="col-md-6">
            <p class="sub-text">
                Rebalance the AI Power Disproportion
            </p>
          </div>

          <div class="col-md-6">
            <p class="body-text">
              Lorem ipsum dolor sit amet, consectetur 
                adipiscing elit. Curabitur nec diam id metus 
                porttitor pretium. Vestibulum in viverra erat.
            </p>
          </div>

        </div>
  
      </div>

      <div class="col-12">
        <div class="radial-illustration-box"></div>
      </div>

  </div>

  <div class="row sh-white-block sty-white-block">
    <div class="col-12">

      <div class="row">
        <div class="col-md-6">
          <p class="big-text-alt text-center">
              Decentralized AI Marketplace
          </p>
        </div>

        <div class="col-md-6">
          <p class="body-text text-center"  style="margin-bottom: 40px;">
              Lorem ipsum dolor sit amet, consectetur 
              adipiscing elit. Curabitur nec diam id metus 
              porttitor pretium. Vestibulum in viverra erat.
          </p>
        </div>
      </div>

    </div>

    <div class="col-12">

      <div class="row">
        <div class="col-12 col-md-6 col-lg-3 col-flexed">
          <div class="pl-icon" style="margin-bottom: 10px;"></div>
          <div class="little-title text-center" style="margin-bottom: 10px;">
            placeholder-icon-name
          </div>
          <div class="body-text text-center" style="margin-bottom: 10px;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Curabitur nec diam id metus porttitor pretium. 
            Vestibulum in viverra erat.
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-3 col-flexed">
          <div class="pl-icon" style="margin-bottom: 10px;"></div>
          <div class="little-title text-center" style="margin-bottom: 10px;">
            placeholder-icon-name
          </div>
          <div class="body-text text-center" style="margin-bottom: 10px;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Curabitur nec diam id metus porttitor pretium. 
            Vestibulum in viverra erat.
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-3 col-flexed">
          <div class="pl-icon" style="margin-bottom: 10px;"></div>
          <div class="little-title text-center" style="margin-bottom: 10px;">
            placeholder-icon-name
          </div>
          <div class="body-text text-center" style="margin-bottom: 10px;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Curabitur nec diam id metus porttitor pretium. 
            Vestibulum in viverra erat.
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-3 col-flexed">
          <div class="pl-icon" style="margin-bottom: 10px;"></div>
          <div class="little-title text-center" style="margin-bottom: 10px;">
            placeholder-icon-name
          </div>
          <div class="body-text text-center" style="margin-bottom: 10px;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Curabitur nec diam id metus porttitor pretium. 
            Vestibulum in viverra erat.
          </div>
        </div>

      </div>

    </div>

  </div>


  <div class="row sh-blue-block sty-blue-block">
    <div class="col-md-6">
      <div class="logo-white"></div>
    </div>
    <div class="col-md-6 world-box-col">
      <p class="big-text-alt text-center" style="color: white;">
        JAR: The AI Token
      </p>
      <p class="body-text text-center" style="color: white; margin: 0 auto;">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
          Curabitur nec diam id metus porttitor pretium. 
          Vestibulum in viverra erat. Phasellus sed enim at ex 
          tincidunt finibus. Donec tincidunt, nisl sed
          vulputate, neque urna gravida purus.
      </p>
    </div>
  </div>

  <div class="row sh-white-block sty-white-block">
      <div class="col-12">
  
        <div class="row">
          <div class="col-md-6">
            <p class="big-text-alt text-center">
                Applications
            </p>
          </div>
  
          <div class="col-md-6">
            <p class="body-text text-center"  style="margin-bottom: 40px;">
                Lorem ipsum dolor sit amet, consectetur 
                adipiscing elit. Curabitur nec diam id metus 
                porttitor pretium. Vestibulum in viverra erat.
            </p>
          </div>
        </div>
  
      </div>
  
      <div class="col-12">
  
        <div class="row">
          <div class="col-12 col-md-6 col-lg-3 col-flexed">
            <div class="pl-icon" style="margin-bottom: 10px;"></div>
            <div class="little-title text-center" style="margin-bottom: 10px;">
              placeholder-icon-name
            </div>
            <div class="body-text text-center" style="margin-bottom: 10px;">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
              Curabitur nec diam id metus porttitor pretium. 
              Vestibulum in viverra erat.
            </div>
          </div>
  
          <div class="col-12 col-md-6 col-lg-3 col-flexed">
            <div class="pl-icon" style="margin-bottom: 10px;"></div>
            <div class="little-title text-center" style="margin-bottom: 10px;">
              placeholder-icon-name
            </div>
            <div class="body-text text-center" style="margin-bottom: 10px;">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
              Curabitur nec diam id metus porttitor pretium. 
              Vestibulum in viverra erat.
            </div>
          </div>
  
          <div class="col-12 col-md-6 col-lg-3 col-flexed">
            <div class="pl-icon" style="margin-bottom: 10px;"></div>
            <div class="little-title text-center" style="margin-bottom: 10px;">
              placeholder-icon-name
            </div>
            <div class="body-text text-center" style="margin-bottom: 10px;">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
              Curabitur nec diam id metus porttitor pretium. 
              Vestibulum in viverra erat.
            </div>
          </div>
  
          <div class="col-12 col-md-6 col-lg-3 col-flexed">
            <div class="pl-icon" style="margin-bottom: 10px;"></div>
            <div class="little-title text-center" style="margin-bottom: 10px;">
              placeholder-icon-name
            </div>
            <div class="body-text text-center" style="margin-bottom: 10px;">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
              Curabitur nec diam id metus porttitor pretium. 
              Vestibulum in viverra erat.
            </div>
          </div>
  
        </div>
  
      </div>
  
    </div>

  <div class="row sh-grey-block sty-grey-block">
      <div class="col-12">
        
          <p class="big-text-alt">
              Our Team
          </p>
          <p class="body-text">
              Lorem ipsum dolor sit amet, consectetur 
              adipiscing elit. Curabitur nec diam id metus 
              porttitor pretium. Vestibulum in viverra erat.
          </p>

      </div>

      <div class="col-12 pl-box">
        PLACEHOLDER
      </div>

  </div>

  <div class="row sh-white-block sty-white-block">
      <div class="col-12">
        <p class="big-text-alt text-center">
          Advisors
        </p>
      </div>

      <div class="col-12 col-md-6 col-lg-4 col-xl-3">

        <div class="row advisor-card">
            <div class="col-4 col-flexed-centered" style="height: 100px;">
              <div class="advisor-picture"></div>
            </div>
            <div class="col-8 advisor-info">
              Name <br>
              <span class='advisor-title'>Title</span>
            </div>

        </div>

      </div>

      <div class="col-12 col-md-6 col-lg-4 col-xl-3">

          <div class="row advisor-card">
              <div class="col-4 col-flexed-centered" style="height: 100px;">
                <div class="advisor-picture"></div>
              </div>
              <div class="col-8 advisor-info">
                Name <br>
                <span class='advisor-title'>Title</span>
              </div>
  
          </div>
  
      </div>

      <div class="col-12 col-md-6 col-lg-4 col-xl-3">

          <div class="row advisor-card">
              <div class="col-4 col-flexed-centered" style="height: 100px;">
                <div class="advisor-picture"></div>
              </div>
              <div class="col-8 advisor-info">
                Name <br>
                <span class='advisor-title'>Title</span>
              </div>
  
          </div>
    
        </div>

        <div class="col-12 col-md-6 col-lg-4 col-xl-3">

            <div class="row advisor-card">
                <div class="col-4 col-flexed-centered" style="height: 100px;">
                  <div class="advisor-picture"></div>
                </div>
                <div class="col-8 advisor-info">
                  Name <br>
                  <span class='advisor-title'>Title</span>
                </div>
    
            </div>
    
        </div>

        <div class="col-12 col-md-6 col-lg-4 col-xl-3">

            <div class="row advisor-card">
                <div class="col-4 col-flexed-centered" style="height: 100px;">
                  <div class="advisor-picture"></div>
                </div>
                <div class="col-8 advisor-info">
                  Name <br>
                  <span class='advisor-title'>Title</span>
                </div>
    
            </div>
    
          </div>

          <div class="col-12 col-md-6 col-lg-4 col-xl-3">

              <div class="row advisor-card">
                  <div class="col-4 col-flexed-centered" style="height: 100px;">
                    <div class="advisor-picture"></div>
                  </div>
                  <div class="col-8 advisor-info">
                    Name <br>
                    <span class='advisor-title'>Title</span>
                  </div>
      
              </div>
      
            </div>

            <div class="col-12 col-md-6 col-lg-4 col-xl-3">

                <div class="row advisor-card">
                    <div class="col-4 col-flexed-centered" style="height: 100px;">
                      <div class="advisor-picture"></div>
                    </div>
                    <div class="col-8 advisor-info">
                      Name <br>
                      <span class='advisor-title'>Title</span>
                    </div>
        
                </div>
            
              </div>

              <div class="col-12 col-md-6 col-lg-4 col-xl-3">

                  <div class="row advisor-card">
                      <div class="col-4 col-flexed-centered" style="height: 100px;">
                        <div class="advisor-picture"></div>
                      </div>
                      <div class="col-8 advisor-info">
                        Name <br>
                        <span class='advisor-title'>Title</span>
                      </div>
          
                  </div>
          
              </div>


      </div>

    </div>
  </div>

</div>

<% include partials/_footer.html %>
