<% include partials/_head.html %>

<% include partials/_modal.html %>
<% include partials/_nav.html %>

<div hidden>
    <% include partials/_modalLoader.html %>
</div>

<div class="container-fluid">

  <div class="row justify-content-center align-items-center sh-splash sty-splash">
    <div class="col-12 cont-splash">
      <p class="big-text text-center" style="color:#4F545A;">
          JARVIS.AI
      </p>

      <p class="sub-text text-center" style="color: #717578;">
          <%= __('index.1.decentralized_ai_platform') %>
      </p>

      <p class="body-text text-center" style="color: #8B8D91; margin-bottom: 20px;">
          <%= __('index.1.mailing_list') %>
      </p>

      <!-- Mail Chimp Stuff  -->

      <div class="email-signup">

        <form action="https://jarvis.us17.list-manage.com/subscribe/post?u=73bb213e8dabaa5213d3c88ae&amp;id=2f9a2ebcd1" 
              method="post"
              id="mc-embedded-subscribe-form" 
              name="mc-embedded-subscribe-form" 
              class="validate" 
              target="_blank" 
              novalidate>

            <div class="input-group">
              <input type="hidden" , name="_csrf" , value=<%=csrfToken %> </input>
              <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="E-mail Address" required>
              <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
            </div>

        </form>
        
      </div>

      
    </div>
    <div class="col-12 pattern-splash"></div>
  </div>

</div>

<div class="container">

  <div class="row align-items-center sh-white-block sty-white-block">
    <div class="col-md-6 world-box"></div>
    <div class="col-md-6 world-box-col">
      <p class="question-text">
        <%= __('index.2.what_is_it') %>
      </p>

      <p class="big-text-alt" style="margin-bottom: 20px;">
       <%= __('index.2.convergance') %><br /> <%= __('index.2.ai_blockchain') %>
      </p>

      <p class="body-text" style="margin-bottom: 20px;">
          <%= __('index.2.explanation') %>         
      </p>

      <a target="_blank" href="https://hackmd.io/s/rJAMAs-Bf" class="whitepaper-link"> <%= __('index.2.read_whitepaper') %> &nbsp;&nbsp;<span class="right-arrow">&#xf178;</span></a>

    </div>
  </div>
  

</div>

<div class="container-fluid">

  <div class="row sh-grey-block sty-grey-block">

      <div class="col-12 world-box-col">

        <div class="row unfluid">

          <div class="col-md-6">
            <p class="big-text-alt">
                <%= __('index.3.rebalance') %>
            </p>
          </div>

          <div class="col-md-6 valign">
            <p class="body-text">
                <%= __('index.3.most_ai_development') %>
            </p>
          </div>

        </div>
  
      </div>

      <div class="col-12">
        <div class="radial-illustration-box" style="margin-top: 20px;"></div>
      </div>

  </div>
</div>

<div class="container">

  <div class="row sh-white-block sty-white-block">
    <div class="col-12">

      <div class="row unfluid bottom-spacer">
        <div class="col-md-6">
          <p class="big-text-alt text-center-onoff"> 
              <%= __('index.3.decentralized_marketplace') %>
          </p>
        </div>

        <div class="col-md-6 valign">
          <p class="body-text text-center-onoff">
              <%= __('index.3.ai_combining') %>
          </p>
        </div>
      </div>

    </div>

    <div class="col-12">

      <div class="row">
        <div class="col-12 col-md-6 col-lg-3 col-flexed">
          <div class="icon fan-shadow" style="margin-bottom: 20px;"></div>
          <div class="little-title text-center" style="margin-bottom: 10px;">
            <%= __('index.4.gpu_miners') %>
          </div>
          <div class="body-text text-center" style="margin-bottom: 10px;">
              <%= __('index.4.computation_power') %>
          </div>
        </div>

      <div class="col-12 col-md-6 col-lg-3 col-flexed">
        <div class="icon hd" style="margin-bottom: 20px;"></div>
        <div class="little-title text-center" style="margin-bottom: 10px;">
          <%= __('index.4.knowledge_curators') %>
        </div>
        <div class="body-text text-center" style="margin-bottom: 10px;">
            <%= __('index.4.collect_maintain') %>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-3 col-flexed">
        <div class="icon bars" style="margin-bottom: 20px;"></div>
        <div class="little-title text-center" style="margin-bottom: 10px;">
          <%= __('index.4.machine_learning') %>
        </div>
        <div class="body-text text-center" style="margin-bottom: 10px;">
            <%= __('index.4.develop_data_analytics') %>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-3 col-flexed">
        <div class="icon lappy" style="height: 55px; width: 55px; margin-bottom: 15px;"></div>
        <div class="little-title text-center" style="margin-bottom: 10px;">
          <%= __('index.4.app_developers') %>
        </div>
        <div class="body-text text-center" style="margin-bottom: 10px;">
            <%= __('index.4.leverage_jarvis') %>
        </div>
      </div>

      </div>
    </div>
  </div>
</div>

<div class="container-fluid">

  <div class="row sh-blue-block sty-blue-block">
    <div class="col-12">
      <div class="row unfluid d-flex justify-content-center align-items-center">

          <div class="col-12 col-sm-auto">
              <div class="logo-white"></div>
          </div>

          <div class="col-12 col-sm-auto world-box-col">
              <p class="big-text-alt text-center" style="color: white;">
                <%= __('index.5.ai_token') %>
              </p>

              <p class="body-text text-center" style="max-width: 400px; color: white; margin: 0 auto;">
                <%= __('index.5.jarvis_introduction') %>
              </p>
          </div>

        </div>
      </div>
   </div>

</div>

<div class="container">

  <div class="row sh-white-block sty-white-block">
      <div class="col-12">
  
        <div class="row unfluid bottom-spacer">
          <div class="col-md-6">
            <p class="big-text-alt text-center-onoff">
              <%= __('index.6.applications') %>
            </p>
          </div>
  
          <div class="col-md-6">
            <p class="body-text text-center-onoff">
                <%= __('index.6.build_anything') %>
            </p>
          </div>
        </div>
  
      </div>
  
      <div class="col-12">
  
        <div class="row">
          <div class="col-12 col-md-6 col-lg-3 col-flexed">
            <div class="icon video" style="margin-bottom: 15px; margin-top: 5px;"></div>
            <div class="little-title text-center" style="margin-bottom: 10px;">
               <%= __('index.6.video_analytics') %>
            </div>
            <div class="body-text text-center" style="margin-bottom: 10px;">
                <%= __('index.6.ai_technologies') %>
            </div>
          </div>
  
        <div class="col-12 col-md-6 col-lg-3 col-flexed">
          <div class="icon cubes" style="height: 55px; width: 55px; margin-bottom: 15px;"></div>
          <div class="little-title text-center" style="margin-bottom: 10px;">
              <%= __('index.6.smarter_iot') %>
          </div>
          <div class="body-text text-center" style="margin-bottom: 10px;">
              <%= __('index.6.train_iot_models') %>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-3 col-flexed">
          <div class="icon md" style="height: 55px; width: 55px; margin-bottom: 15px;"></div>
          <div class="little-title text-center" style="margin-bottom: 10px;">
              <%= __('index.6.medical_imaging') %>
          </div>
          <div class="body-text text-center" style="margin-bottom: 10px;">
            <%= __('index.6.medicinal_applications') %>
            </div>
        </div>
  
        <div class="col-12 col-md-6 col-lg-3 col-flexed">
          <div class="icon flow" style="margin-bottom: 15px; margin-top: 5px;"></div>
          <div class="little-title text-center" style="margin-bottom: 10px;">
            <%= __('index.6.next_generation') %>
          </div>
          <div class="body-text text-center" style="margin-bottom: 10px;">
            <%= __('index.6.user_interface') %>
          </div>
        </div>
  
        </div>
  
      </div>
  
    </div>

</div>

<div class="container-fluid">

  <div class="row sh-grey-block sty-grey-block">
      <div class="col-12 unfluid bottom-spacer">
        
          <p class="big-text-alt">
              <%= __('index.7.our_team') %>
          </p>

      </div>
      
      <div class="col-12 d-lg-none">

          <div id="slider" class="center">
            <% include partials/_team.html %>
          </div>

     </div>

     <div class= "col-12 d-none d-lg-block">
          <% include partials/_team-no-slide.html %>
     </div>

  </div>
  
  <!-- <% include partials/_advisors.html %> -->
</div>

<% include partials/_footer.html %>
