<div class = "container">
  <div class = "row">
      <br>
        <% if (typeof message != 'undefined'){ %>
          <h1><%#= message %></h1>
          <% } %>
      <br>
      
      <form action="/login", method="POST" id= "loginForm">
        <input type="hidden", name="_csrf", value= <%=csrfToken %>> </input>
        
        <h4> Email </h4>
        <input type="email", name="email">
        <br>
        
        <h4> Password </h4>
        <input type="password", name="password"> </input>
        <br>
        
        <button type = "submit"> Submit </button>
      </form>
      <a href="/emailresetpassword">Forgot Password?</a>
      <a href="/register">Register</a>
  </div>
</div>
