<div class = "container">
  <div class = "row">
      <br>
        <% if (typeof message != 'undefined'){ %>
          <h1><%#= message %></h1>
          <% } %>
      <br>
      
      <form action="/login", method="POST" id= "loginForm">
        <input type="hidden", name="_csrf", value= <%=csrfToken %>> </input>
        
        <h4> Email </h4>
        <input type="email", name="email">
        <br>
        
        <h4> Password </h4>
        <input type="password", name="password"> </input>
        <br>
        
      </form>
      <button id="loginButton" action = "submit"> Submit </button>
      <a href="/emailresetpassword">Forgot Password?</a>
      <a href="/register">Register</a>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
<script>
  $(document).ready(function () {
    //     body = {}
    $("#loginButton").on('click', function () {
      body = ($("#loginForm").serialize());
      console.log(body)
      $.ajax({
        method: 'POST',
        url: `/login`,
        data: body,
        //               contentType: "application/json",
        dataType: "json"
      }).done(function (data) {
        alert(data)
           location.reload();
      });
    })
  })

</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js">
</script>
<script>
  $(document).ready(function () {
    $("#registerButton").on('click', function () {
      body = ($("#registerForm").serialize());
      console.log(body)
      $.ajax({
        method: 'POST',
        url: `/register`,
        data: body
        //               contentType: "application/json",
        // dataType: "json"
      })
        .done(function (data) {
          console.log('---------------------------')
          console.log(data)
          console.log('---------------------------')

          if (typeof data === 'string' || data instanceof String) {
            console.log(data)
            console.log(location.protocol + '//' + data)
            alert('You have successfully registered, click on the link in the email we have sent you to verify your account.');
            location.href = location.protocol + '//' + data
          } else {
            //             .fail( function(data){
            alert(JSON.stringify(data));
            location.reload();
          };
        });
    })
  });

</script>