<form action="/resetpassword" , method="POST">
        <input type="hidden" , name="_csrf" , value= <%=csrfToken %>> </input>

        <label>password 
            <input name="password" id="password" type="password" onkeyup='check();' />
        </label>
    <br>
        <label>confirm password:
            <input type="password" name="confirm_password" id="confirm_password"  onkeyup='check();' /> 
        <span id='message'></span>
    </label>
        
        <button type="submit"> Submit </button>

</form>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js" ></script>
<script>
        $(document).ready(function(){
            //     body = {}
            $("button").on('click', function () {
                body = ($("#registerForm").serialize());
                console.log(body)
                $.ajax({
                    method: 'POST',
                    url: `/register`,
                    data: body,
                    //               contentType: "application/json",
                    dataType: "json"
                }).done(function (data) {
                    alert(data)
                    //   location.reload();
                });
            })
        })

    var check = function () {
            if (document.getElementById('password').value ==
                document.getElementById('confirm_password').value) {
                document.getElementById('message').style.color = 'green';
                document.getElementById('message').innerHTML = 'matching';
            } else {
                document.getElementById('message').style.color = 'red';
                document.getElementById('message').innerHTML = 'not matching';
            }
        }
</script>