<form action="/resetpassword" id="passwordResetForm" method="POST">
        <input type="hidden" , name="_csrf" , value= <%=csrfToken %>> </input>

        <label>password 
            <input name="password" id="password" type="password"/>
        </label>
    <br>
        <label>confirm password:
            <input type="password" name="password2" id="password2"/> 
        <span id='message'></span>
    </label>
        
    <button id="passwordResetButton" action="submit"> Submit </button>
    
</form>

<script>
            $(document).on('click', '#passwordResetButton', function (ev) {
                ev.preventDefault();
        $("#passwordResetButton").on('click', function () {
            body = ($("#passwordResetForm").serialize());
            console.log(body)
            $.ajax({
                method: 'POST',
                url: `/resetpassword`,
                data: body

            })
                .done(function (data) {
                    console.log(data)
                    if (typeof data.redirect === 'string' || data.redirect instanceof String) {
                        alert(JSON.stringify(data.message));
                        location.href = location.protocol + '//' + data.redirect
                    } else if (typeof data.failure === 'string' || data.failure instanceof String) {
                        alert(JSON.stringify(data.message));
                        location.href = location.protocol + '//' + data.failure
                    } else {
                        alert(JSON.stringify(data));
                    }
                });
        })
        
        
        var check = function () {
            if (document.getElementById('password').value ==
            document.getElementById('password2').value) {
                document.getElementById('message').style.color = 'green';
                document.getElementById('message').innerHTML = 'matching';
            } else {
                document.getElementById('message').style.color = 'red';
                document.getElementById('message').innerHTML = 'not matching';
            }
        }
    })
</script>