
<form action = "/register", method = "POST">
    <input type="hidden" , name="_csrf" , value=<%=csrfToken %>> </input>

    <label for="name"> Name </label>
    <input type="text" name="name"></input>

    <label for="country"> Country </label>
    <input type="text" name="country"></input>

    <label for = "email"> Email </label>
    <input type = "text" name = "email"></input>
    
    <label for = "password"> Password </label>
    <input type = "text" name = "password"></input>

    <br>
    <button class ="btn" type = "submit"> Submit </button>

</form>
