
<form action = "/register", method = "POST">
   
    <label for = "email"> Email </label>
    <input type = "text" name = "email"></input>
    
    <label for = "password"> Password </label>
    <input type = "text" name = "password"></input>

    <br>
    <button class ="btn" type = "submit"> Submit </button>

</form>