
<form action='#' id ="registerForm" >
    <input type="hidden" , name="_csrf" , value=<%=csrfToken %>> </input>

    <input type="text" name="name" ></input>

    <input type = "text" name="email" ></input>
    
    <input type = "text" name="password" ></input>

    
</form>
<br>
<button class ="btn" type = "submit"> Submit </button>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js" ></script>
<script>
    $(document).ready(function(){
  //     body = {}
        $("button").on('click',function(){
            body = ($("#registerForm").serialize());
                    $.ajax({
                method: 'POST',
                url: `/register`,
                data: body,
 //               contentType: "application/json",
                dataType: "json"
            }).done(function (data) {
                alert(data)
             //   location.reload();
            });
        })
    })
</script>
