<% include partials/_head.html %>
<% include partials/_nav.html %>

<div class="container-fluid">
    <div class="row sh-splash sty-splash">
        <div class="col-12">
          <p class="big-text-alt text-center">
              <%= user.email %>
          </p>
  
          <p class="big-text-alt text-center">
              0 JAR
          </p>
  
          <p class="sub-text text-center">
              0 ETH
          </p>
  
          <br>
          
          
          <form action="/userEdit" method="POST">
            <input type="hidden", name="_csrf" , value= <%=csrfToken %>> </input>
       
            <label for="name"> Name </label>
            <input type="text" name="name"></input>
            
            <!-- <input type="text", name="password" disabled="disabled"></input> -->
            
            <br>
            <button class="btn" type="submit"> Submit </button>
        </form>
        
        <form action="/walletId" method="POST">
            <input type="hidden" , name="_csrf" , value= <%=csrfToken %>> </input>
           
            <label for="wallet"> Ethereum Wallet ID </label>
            <input type="text" name="wallet"></input>
            
            <br>
            <button class="btn" type="submit"> Submit </button>

        </form>
        <a href="/logout">Logout</a>
        
    </div>
</div>




<% include partials/_footer.html %>
