<% include partials/_head.html %>
</head>
<body>

<% include partials/_modal.html %>
<% include partials/_nav.html %>

<div id="user-selector">
    <div class="container-fluid">
        <div class="row sh-blue-block sty-blue-block">
            <div class="col-12">
            <p class="big-text-alt text-center" style="color: white;">
                <%= user.name || user.email %> 
            </p>
    
            <p class="big-text-alt text-center" style="font-size: 60px; font-family: 'Aileron-Bold'; color: white;">
                <%=user.jarvis %> JAR
            </p>
    
            <p class="sub-text text-center" style="color: white;">
                <%=user.ethereum %> ETH
            </p>

            <p class="body-text text-center"  style="color: #dfdfdf;">
                <%= lang.user1commited_eth %> = <%= user.commitEther %>
            </p>

            <!-- <p class="sub-text text-center">
                Language = <%= user.lang %>
            </p> -->

            <p class="body-text text-center" style="color: #dfdfdf;">
                <%= lang.user1public_wallet %> = <%= user.wallet %>
            </p>

            </div>
        </div>
    </div>

    <div class="container">
        <div id="space-filler" class="row sh-white-block sty-white-block">

            <div class="col-12 col-sm-4 d-flex justify-content-center align-items-center">
                <a class="user-nav-box" href="/jarvis#modal=commit-eth">
                    <div class="row d-flex justify-content-center align-items-center">
                        <div class="col-3 d-flex justify-content-center align-items-center">
                            <img src="./images/logo-mark.png" alt="tiny-logo" class="tiny-logo-mark">
                        </div>
                        <div class="col-7 d-flex user-button-labels">
                            <p class="body-text" style="font-size: 18px;"><%= lang.user2commit_eth %></p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-12 col-sm-4 d-flex justify-content-center align-items-center">
                <a class="user-nav-box" href="/jarvis#modal=user-edit">
                    <div class="row d-flex justify-content-center align-items-center">
                        <div class="col-3 d-flex justify-content-center align-items-center">
                            <p class="fa" style="font-size: 24px; color: #333;">&#xf013;</p>
                        </div>
                        <div class="col-7 d-flex user-button-labels">
                                <p class="body-text" style="font-size: 18px;"><%= lang.user2edit_user %></p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-12 col-sm-4 d-flex justify-content-center align-items-center">
                <a href="/jarvis/logout" class="user-nav-box">
                    <div class="row d-flex justify-content-center align-items-center">
                        <div class="col-4 d-flex justify-content-center align-items-center">
                            <p class="fa" style="font-size: 24px; color: #333">&#xf011;</p>
                        </div>
                        <div class="col-7 d-flex user-button-labels">
                                <p class="body-text" style="font-size: 18px;"><%= lang.user2logout %></p>
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>
            
        </div>

    </div>
</div>

</div>

<% include partials/_footer.html %>
