<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <a href = "/">Home</a>
    <a href = "/technology">Technology</a>
    <a href = "/faq">FAQ</a>
    <a href = "/governance">Governance</a>
    <a href = "/whitepaper">White Paper</a>

    <form action="/resend"  id="sendVerificationForm" method="POST">
      <input type="hidden" , name="_csrf" , value=<%=csrfToken %>> </input>
    <p>resend verification email </p>
      <label for="email"> Email </label>
      <input type="text" name="email"></input>

      <br>
     <p>You will only have one hour to verify your email, please click on the email that we will send you or return here to verify again. </p>
     
    </form>
    <button class="btn" id="verifyButton" action="submit"> Send </button>

        <a href="/logout">logout</a>

  </body>
</html>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js">
</script>
<script>
  $(document).ready(function () {
    $("#verifyButton").on('click', function () {
      body = ($("#sendVerificationForm").serialize());
      $.ajax({
        method: 'POST',
        url: `/resend`,
        data: body
        // contentType: "application/json",
        // dataType: "json"
      })
        .done(function (data) {
          if (typeof data.redirect === 'string' || data.redirect instanceof String) {
            alert(JSON.stringify(data.message));
            location.href = location.protocol + '//' + data.redirect
          } else {
            alert(JSON.stringify(data));
      //      location.reload();
          };
        });
    })
  });

</script>