<% include partials/_head.html %>
</head>
<body>

<% include partials/_modal.html %>
<% include partials/_nav.html %>

<div class="container">

  <div class="row whitepaper-header justify-content-between">

    <div class="col-12 col-sm-5 d-flex align-items-center">
      <div class="row" style="width: 100%; margin: 0;">
        <div class="col-12 language-title">
          <%= lang.whitepaper1language %>:
        </div>
        
        <div class="col-12" style="width: 100%;">
          <div class="dropdown">
              <button class="language-selector-button dropdown-toggle" type="button" data-toggle="dropdown">English
              <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a href="#">English</a></li>
                <!-- <li><a href="#">繁中</a></li>
                <li><a href="#">简中</a></li>
                <li><a href="#">日本</a></li>
                <li><a href="#">한국</a></li> -->
              </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-5 d-flex flex-column justify-content-center align-items-start">
      <div class="row" style="width: 100%; margin: 0;">
        <div class="col download-title">
          <%= lang.whitepaper1download %>:
        </div>
      </div>

      <div class="row" style="width: 100%; margin: 0;">
        <div class="col d-flex justify-content-center language-button">
          <a href="/techpapers/JARVIS_technical-whitepaper-en.pdf" class="lang-down english" download='JARVIS - Technical Whitepaper (EN)'>
            EN
          </a>
        </div>
        <div class="col d-flex justify-content-center language-button">
          <a href="/techpapers/JARVIS_technical-whitepaper-zh-tw.pdf" class="lang-down trad-chinese" download='JARVIS - Technical Whitepaper (ZHTW)'>
            繁中
          </a>
        </div>
        <div class="col d-flex justify-content-center language-button">
          <div class="lang-disable sim-chinese">
              简中
          </div>
        </div>
        <div class="col d-flex justify-content-center language-button">
          <div class="lang-disable japanese">
            日本
          </div>
        </div>
        <div class="col d-flex justify-content-center language-button">
          <div class="lang-disable korean">
            한국
          </div>
        </div>
      </div>
    </div>

  </div>

    <div class="row whitepaper-pdf-container">
      <div class="col-12">
          <iframe src="https://hackmd.io/s/rJAMAs-Bf" style="border: none; height: 70vh; width: 100%; max-width: 1024px;"></iframe>
      </div>
  </div>

</div>


<% include partials/_footer.html %>
