@import "partials/_variables";
@import "partials/_mixins";
@import "partials/_typography";
@import "partials/_placeholders";

// Site-Wide Containers

body {
  background: white;
  font-family: helvetica;
}

.sh-splash {
  height: 100vh;
  padding: 0 20px;
  @include flexed;
}

.sty-splash {
  background: linear-gradient(#fff, $blue10);
}

.sh-white-block {
  padding: 0 20px;
}

.sty-white-block {
  background: white;
}

.sh-grey-block {
  padding: 0 20px;
}

.sty-grey-block {
  background: #e0e0e0;
}

.sh-blue-block {
  padding: 0 20px;
}

.sty-blue-block {
  background: linear-gradient($bluegreen, $blue50);
}

// Typography

.big-text {
  font-family: "DINPro-Bold";
  font-size: 34px;
}

.big-text-alt {
  font-family: "Aileron-Light";
  font-size: 32px;
}

.sub-text {
  font-family: "Aileron-Light";
  font-size: 18px;
}

.body-text {
  font-family: "Aileron-Light";
  font-size: 12px;
}

.question-text {
  font-family: "Aileron-Regular";
  font-size: 12px;
  color: $gray;
}

.little-title {
  font-family: "Aileron-SemiBold";
  font-size: 12px;
}


// Deep-Dive

.gradient-drop {
  height: 120px;
  width: 100%;

  background: linear-gradient(#eee, 20%,  #fff);
  
  .deco-line {
    width: 100%;
    height: 1px;

    background: linear-gradient(to right, #eee, #ccc, #eee);

    margin: 0;
    padding: 0;

  }
}



// Footer
.footer {
  height: 500px;
  width: 100%;

  background: #ccc;
}




// @include media-breakpoint-up(xs) {}
// @include media-breakpoint-up(sm) {}
// @include media-breakpoint-up(md) {}
// @include media-breakpoint-up(lg) {}
// @include media-breakpoint-up(xl) {}
