@import "partials/_variables";
@import "partials/_mixins";
@import "partials/_typography";
@import "partials/_placeholders";

// Site-Wide Containers

body {
  background: white;
  font-family: helvetica;
}

.sh-splash {
  height: 100vh;
  padding: 0 20px;
  @include flexed;
}

.sty-splash {
  background: linear-gradient(#fff, $blue10);
}

.sh-white-block {
  padding: 0 20px;
}

.sty-white-block {
  background: white;
}

.sh-grey-block {
  height: 80vh;
  padding: 0 20px;
}

.sty-grey-block {
  background: #aaa;
}

.sh-blue-block {
  height: 100vh;
  padding: 0 20px;
}

.sty-blue-block {
  background: linear-gradient($bluegreen, $blue50);
}

// Typography

.big-text {
  font-family: "DINPro-Bold";
  font-size: 34px;
  @include text-center;
}

.sub-text {
  font-family: "Aileron-Light";
  font-size: 18px;
  @include text-center;
}

.body-text {
  font-family: "Aileron-Light";
  font-size: 12px;
  @include text-center;
}




// @include media-breakpoint-up(xs) {}
// @include media-breakpoint-up(sm) {}
// @include media-breakpoint-up(md) {}
// @include media-breakpoint-up(lg) {}
// @include media-breakpoint-up(xl) {}
